body {
    text-align: center;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sofia', cursive;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Mukta', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 2;
}

h3 {
    color: #11999E;
    font-family: 'Mukta', sans-serif;
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Mukta', sans-serif;
    padding: 2rem;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    color: #40514E;
    font-family: 'Mukta', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
}

.top-container {
    background-color: #EAF6F6;
    margin: 0, auto;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 50px 0;
}

.bottom-container {
    margin-top: 50px;
    padding: 2.5rem;
    padding-bottom: 2rem;
    background-color: #66BFBF;
}

.skill-row {
    width: 50%;
    margin: 25px auto;
    text-align: left;
    line-height: 2;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.first-skill {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

.second-skill {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}

#profile-photo {
    width: 10rem;
    height: 10rem;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    margin-top: 2rem;
    font-size: 0.75rem;
}

.bottom-line {
    margin-bottom: 50px;
}